/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* commmon style or utilies  */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}
nav {
  background: #2d25a0;
  width: 100%;
}
.button-name {
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  padding: 5px 10px;
}
.button-margin {
  margin-bottom: 40px;
}
/*-------------
 Nav style 
 -------------- */
.manu {
  display: flex;
  justify-content: space-between;
  padding: 42px 120px 0 156px;
}
.manu-item,
a:hover {
  color: #e02c6d;
}
.nav-item a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 36px;
  font-weight: 500;
  font-size: 16px;
}
.login-button a {
  text-decoration: none;
  color: #ffffff;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 44px;
  color: #ffffff;
  background-color: #e02c6d;
}
.login-button:hover {
  transform: translateX(20px);
  color: #e02c6d;
  background-color: azure;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.login-button:hover a {
  color: #e02c6d;
}

.nav-title {
  padding-left: 189px;
  color: #ffffff;
}
.title {
  font-size: 45px;
}

.banner img {
  width: 556.01px;
  height: 438px;
}
.nav-poster {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*------------
 Main Part CSS
 ------------- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  margin: 100px 90px;
}
.player-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 21px 5px #0000001f;
}

.player-img img {
  width: 100%;
  height: 256px;
  padding: 5px;
}
.player-info {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
}
.second-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* --------------
Highlights Part
-------------- */
.highlights-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 165px;
  margin-bottom: 200px;
}
.highlights-text {
  padding: 20px;
}
.section-img img {
  border-radius: 0 15px 15px 0;
}
/*---------
 Subscribs part style
-----------  */
.subscribe-part {
  margin-top: 30px;
  margin-bottom: 150px;
  border-radius: 20px;
  padding: 20px;
  border-left: 10px solid crimson;
  border-right: 10px solid crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: cornflowerblue;
}
/*-----------
Footer style
----------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.footer-logo img {
  width: 483.87px;

  background-color: #f5f5f5;
}
.icons {
  color: #e02c6d;
  margin-top: 20px;
}
/* --------------
Media Queries
-------------- */
@media screen and (max-width: 488px) {
  .manu {
    display: none;
  }
  .nav-poster {
    display: flex;
    flex-direction: column;
  }

  .container {
    grid-template-columns: 1fr;
    margin: 30px;
  }
  .player-img img {
    height: auto;
  }
  .banner img {
    width: 329px;
    height: 259.17px;
  }
  .title {
    font-size: 36px;
  }
  .highlights-part {
    display: block;
  }
  .subscribe-part {
    display: block;
  }
  .nav-title {
    padding: 0;
  }
  .section-img {
    width: 480px;
  }
  .section-img img {
    width: 90%;
    margin: 20px;
    border-radius: 0;
  }
}
